div .filter_by_wrapper {
  position: relative;
  left: 30%;
  padding: 10px;
  width: 40%;
  height: fit-content;
  text-align: center;
  font-family: "Trebuchet MS";
  background-color: gainsboro;
  color: #0e3c5f;
  border-radius: 10px;
}
div .filter_value_wrapper {
  position: relative;
  left: 15%;
  text-align: center;
  padding: 10px;
  top: 10px;
  width: 70%;
  height: fit-content;
  font-family: "Trebuchet MS";
  background-color: gainsboro;
  color: #0e3c5f;
  border-radius: 10px;
}
div label {
  position: relative;
  margin-right: 10px;
}
div label input {
  margin-right: 10px;
  width: auto;
}
div label span {
  position: relative;
  bottom: 2px;
}
select.value_select {
  font-size: 10px;
  text-align: center;
  text-align-last: center;
  height: 20px;
  width: 20%;
  border-radius: 10px;
  border: none;
  outline: none;
}
.search_button {
  border: none;
  width: 80px;
  height: 20px;
  border-radius: 5px;
  color: aliceblue;
  background-color: #0e3c5f;
  transition-duration: 300ms;
}
.search_button:hover {
  background-color: #539629;
}
.search_button:disabled {
  background-color: grey;
}
